:root {
  /* --accent: hsl(9, 83%, 60%); */
  --accent: hsl(9, 80%, 60%);
  --accent3: #5d44ee;
  --accent2: #f09c8e;
  --input: hsl(220, 15%, 35%);
  /* --background: hsl(220, 38%, 13%); */
  --background: hsl(220, 38%, 10%);
  /* --background: #121212; */
  /* --lighter: #38404f; */
  /* --lighter: hsl(220, 38%, 8%); */
  --mid: hsl(220, 38%, 13%);
  --lighter: hsl(220, 35%, 20%);
  --white: hsl(0, 0%, 90%);
  --background2: #1e273d;
  --lighter2: #3e4a5a;
  --mid2: #2a3c50;
  --light-text2: #e6e8eb;
  --white2: #fafafa;
  --accent-light: hsl(10, 84%, 65%);
  --black: #1f2532;
  --blue: hsl(204, 73%, 40%);

  --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
  --font-size-xxl: clamp(2.44rem, 1.3vw + 2.12rem, 3.16rem);
  --font-size-xxxl: clamp(3.05rem, 2.1vw + 2.53rem, 4.21rem);
}

/* COLOR CLASSES  */

.txt-blue {
  color: var(--blue) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.txt-black {
  color: var(--black) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.txt-darkest {
  color: var(--background) !important;
}

.bg-darkest {
  background-color: var(--background) !important;
}

.txt-med {
  color: var(--mid) !important;
}

.bg-med {
  background-color: var(--mid) !important;
}

.txt-light {
  color: var(--lighter) !important;
}

.bg-light {
  background-color: var(--lighter) !important;
}

.txt-white {
  color: var(--white) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.txt-accent {
  color: var(--accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-transparent {
  border-color: transparent !important;
}

.txt-dimmed {
  color: white2;
}

/* FONT CLASSES  */

.font-sm {
  font-size: var(--font-size-sm) !important;
}
.font-base {
  font-size: var(--font-size-base) !important;
}
.font-md {
  font-size: var(--font-size-md) !important;
}
.font-lg {
  font-size: var(--font-size-lg) !important;
}
.font-xl {
  font-size: var(--font-size-xl) !important;
}
.font-xxl {
  font-size: var(--font-size-xxl) !important;
}
.font-xxxl {
  font-size: var(--font-size-xxxl) !important;
}

/* HEADING SIZES */

h1 {
  font-size: var(--font-size-xxxl);
}
h2 {
  font-size: var(--font-size-xxl);
  letter-spacing: 2px;
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-lg);
}

.slab {
  font-family: "Alfa Slab One", cursive;
}

.bold {
  font-weight: bold;
}

.alert {
  padding: 5px !important;
}

.form-input {
  background-color: var(--input) !important;
  border: 0;
  box-shadow: inset 1px 2px 3px var(--black), 0px 1px 1px #333;
  color: var(--white);
  font-weight: 400;
  font-size: var(--font-size-base);
  background-color: var(--input) !important;
}

.form-floating .form-control:focus {
  background-color: var(--input);
  border-color: hsl(220, 20%, 30%) !important;

  color: var(--light-text);
}

.form-floating label {
  color: var(--light-text);
  font-weight: 100;
}

body {
  font-size: var(--font-size-base);
  background-color: var(--background);
  color: var(--white);
  min-height: 100vh;
}

/* FONT WEIGHT */

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-100 {
  font-weight: 100;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fw-1000 {
  font-weight: 1000;
}

/* general */

p {
  margin: 0;
}

.title-row h2 {
  letter-spacing: 1px;
}

.btn-outline-danger {
  height: fit-content;
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0);
}

.btn-outline-danger:hover {
  color: white;
  background-color: var(--accent);
}

/* navigation  */

.dropdown-item {
  color: var(--white) !important;
}

.navbar-brand {
  letter-spacing: 2px;
}

.dropdown-menu.show {
  background-color: var(--mid);
}

.dropdown-item {
  color: var(--light-text);
}

.navbar {
  background-color: var(--background) !important;
}

.nav {
  border-color: var(--accent);
}

.nav-link {
  color: var(--light-text);
}

.nav-link,
.nav-link:hover {
  border: none;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link:active {
  border: none !important;
}

.nav .active,
.nav .active:hover {
  background-color: var(--background) !important;
  border: 1px solid var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--accent) !important;
}

.nav .active:hover {
  background-color: var(--accent) !important;
  color: var(--light-text) !important;
}

.nav .active {
  background-color: var(--accent) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--light-text) !important;
}

.select2-results__option--selectable {
  color: var(--background);
}

.invalid-feedback {
  display: none !important;
}

/* Index.html */
.show,
.show:hover {
  border: none !important;
}

.knocked_out {
  color: hsl(0, 0%, 40%);
}

.list-group-item {
  min-height: 27px;
}

.list-group-item img {
  max-height: 30px;
  width: auto;
  margin-left: auto;
  filter: brightness(1.2);
}

.txt-accent-light {
  color: var(--accent-light);
}

tr {
  min-height: 27px;
}

tr img {
  max-height: 27px;
  margin-left: auto;
  filter: brightness(1.3);
}

.ts-0 {
  background-color: #273444 !important;
}
.ts-10 {
  background-color: #232f3d !important;
}
.ts-20 {
  background-color: #1f2a36 !important;
}
.ts-30 {
  background-color: #1b2430 !important;
}
.ts-40 {
  background-color: #171f29 !important;
}
.ts-50 {
  background-color: #141a22 !important;
}
.ts-60 {
  background-color: #10151b !important;
}
.ts-70 {
  background-color: #0c1014 !important;
}
.ts-80 {
  background-color: #080a0e !important;
}
.ts-90 {
  background-color: #040507 !important;
}
.ts-100 {
  background-color: #000000 !important;
}

.list-group-item.even {
  background-color: hsl(220, 38%, 13%) !important;
}
.list-group-item.odd {
  background-color: #1d2837 !important;
  background-color: hsl(220, 38%, 17%) !important;
}

.list-group .list-group-item:not(:last-child):hover {
  background-color: var(--lighter) !important;
  background-color: hsl(220, 38%, 25%) !important;
}

.card li:not(:last-child) {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: rgba(255, 255, 255, 0.725) !important;
}

.card ul li:first-child {
  padding-top: 8px !important;
}

.total-row {
  background-color: hsl(215, 31%, 13%) !important;
  background-color: hsl(220, 38%, 13%) !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.bg-accent2 {
  background-color: var(--accent2) !important;
}

.blue {
  background-color: var(--accent3);
}

.grad {
  background-color: hsl(209, 90%, 36%) !important;
  background-image: linear-gradient(
    to bottom,
    hsl(209, 90%, 45%),
    hsl(209, 90%, 32%)
  ) !important;

  background-color: hsl(204, 73%, 42%) !important;
  background-image: linear-gradient(
    to bottom,
    hsla(204, 73%, 44%, 0.8),
    hsla(204, 73%, 32%, 0.8)
  ) !important;
}

.ncaa {
  background-color: var(--blue) !important;
}

.sprite {
  background: url("./images/sprite.png") no-repeat top left !important;
  width: 500px !important;
  height: 500px !important;
}
.sprite.s3 {
  background-position: 0 0;
}
.sprite.s6 {
  background-position: -510px 0;
}
.sprite.s7 {
  background-position: -1020px 0;
}
.sprite.s15 {
  background-position: -1530px 0;
}
.sprite.s22 {
  background-position: -2040px 0;
}
.sprite.s23 {
  background-position: -2550px 0;
}
.sprite.s26 {
  background-position: -3060px 0;
}
.sprite.s28 {
  background-position: -3570px 0;
}
.sprite.s33 {
  background-position: -4080px 0;
}
.sprite.s42 {
  background-position: -4590px 0;
}
.sprite.s45 {
  background-position: -5100px 0;
}
.sprite.s59 {
  background-position: -5610px 0;
}
.sprite.s63 {
  background-position: -6120px 0;
}
.sprite.s61 {
  background-position: -6630px 0;
}
.sprite.s65 {
  background-position: -7140px 0;
}
.sprite.s74 {
  background-position: -7650px 0;
}
.sprite.s91 {
  background-position: -8160px 0;
}
.sprite.s80 {
  background-position: -8670px 0;
}
.sprite.s93 {
  background-position: -9180px 0;
}
.sprite.s94 {
  background-position: -9690px 0;
}
.sprite.s100 {
  background-position: -10200px 0;
}
.sprite.s92 {
  background-position: -10710px 0;
}
.sprite.s97 {
  background-position: -11220px 0;
}
.sprite.s101 {
  background-position: -11730px 0;
}
.sprite.s102 {
  background-position: -12240px 0;
}
.sprite.s106 {
  background-position: -12750px 0;
}
.sprite.s107 {
  background-position: -13260px 0;
}
.sprite.s108 {
  background-position: -13770px 0;
}
.sprite.s109 {
  background-position: -14280px 0;
}
.sprite.s110 {
  background-position: -14790px 0;
}
.sprite.s112 {
  background-position: -15300px 0;
}
.sprite.s119 {
  background-position: -15810px 0;
}
.sprite.s114 {
  background-position: -16320px 0;
}
.sprite.s129 {
  background-position: -16830px 0;
}
.sprite.s154 {
  background-position: -17340px 0;
}
.sprite.s145 {
  background-position: -17850px 0;
}
.sprite.s160 {
  background-position: -18360px 0;
}
.sprite.s167 {
  background-position: -18870px 0;
}
.sprite.s178 {
  background-position: -19380px 0;
}
.sprite.s195 {
  background-position: -19890px 0;
}
.sprite.s212 {
  background-position: -20400px 0;
}
.sprite.s211 {
  background-position: -20910px 0;
}
.sprite.s215 {
  background-position: -21420px 0;
}
.sprite.s216 {
  background-position: -21930px 0;
}
.sprite.s220 {
  background-position: -22440px 0;
}
.sprite.s224 {
  background-position: -22950px 0;
}
.sprite.s243 {
  background-position: -23460px 0;
}
.sprite.s246 {
  background-position: -23970px 0;
}
.sprite.s247 {
  background-position: -24480px 0;
}
.sprite.s253 {
  background-position: -24990px 0;
}
.sprite.s255 {
  background-position: -25500px 0;
}
.sprite.s261 {
  background-position: -26010px 0;
}
.sprite.s268 {
  background-position: -26520px 0;
}
.sprite.s270 {
  background-position: -27030px 0;
}
.sprite.s275 {
  background-position: -27540px 0;
}
.sprite.s277 {
  background-position: -28050px 0;
}
.sprite.s276 {
  background-position: -28560px 0;
}
.sprite.s278 {
  background-position: -29070px 0;
}
.sprite.s279 {
  background-position: -29580px 0;
}
.sprite.s280 {
  background-position: -30090px 0;
}
.sprite.s283 {
  background-position: -30600px 0;
}
.sprite.s292 {
  background-position: -31110px 0;
}
.sprite.s304 {
  background-position: -31620px 0;
}
.sprite.s320 {
  background-position: -32130px 0;
}
.sprite.s324 {
  background-position: -32640px 0;
}
.sprite.s334 {
  background-position: -33150px 0;
}
.sprite.s335 {
  background-position: -33660px 0;
}
.sprite.s345 {
  background-position: -34170px 0;
}
