:root {
  --accent: #ee5d44;
  --background: #141c2c;
  --lighter: #38404f;
  --mid: #273444;
  --light-text: #e3e5e8;
  --white: hsl(0, 0%, 90%);
  --accent2: #ff7454;
  --background2: #1e273d;
  --lighter2: #3e4a5a;
  --mid2: #2a3c50;
  --light-text2: #e6e8eb;
  --white2: #fafafa;
  --accent-light: #f59e8c;
  --black: #1f2532;
  --blue: hsl(209, 100%, 36%);

  --font-size-sm: clamp(0.8rem, 0.08vw + 0.78rem, 0.84rem);
  --font-size-base: clamp(1rem, 0.23vw + 0.94rem, 1.13rem);
  --font-size-md: clamp(1.25rem, 0.45vw + 1.14rem, 1.5rem);
  --font-size-lg: clamp(1.56rem, 0.79vw + 1.36rem, 2rem);
  --font-size-xl: clamp(1.95rem, 1.29vw + 1.63rem, 2.66rem);
  --font-size-xxl: clamp(2.44rem, 2.02vw + 1.94rem, 3.55rem);
  --font-size-xxxl: clamp(3.05rem, 3.06vw + 2.29rem, 4.73rem);
}

/* COLOR CLASSES  */

.txt-blue {
  color: var(--blue) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.txt-black {
  color: var(--black) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.txt-darkest {
  color: var(--background) !important;
}

.bg-darkest {
  background-color: var(--background) !important;
}

.txt-med {
  color: var(--mid) !important;
}

.bg-med {
  background-color: var(--mid) !important;
}

.txt-light {
  color: var(--lighter) !important;
}

.bg-light {
  background-color: var(--lighter) !important;
}

.txt-white {
  color: var(--white) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.txt-accent {
  color: var(--accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-transparent {
  border-color: transparent !important;
}

.txt-dimmed {
  color: white2;
}

/* FONT CLASSES  */

.font-sm {
  font-size: var(--font-size-sm) !important;
}
.font-base {
  font-size: var(--font-size-base) !important;
}
.font-md {
  font-size: var(--font-size-md) !important;
}
.font-lg {
  font-size: var(--font-size-lg) !important;
}
.font-xl {
  font-size: var(--font-size-xl) !important;
}
.font-xxl {
  font-size: var(--font-size-xxl) !important;
}
.font-xxxl {
  font-size: var(--font-size-xxxl) !important;
}

/* HEADING SIZES */

h1 {
  font-size: var(--font-size-xxxl);
}
h2 {
  font-size: var(--font-size-xxl);
  letter-spacing: 2px;
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-lg);
}

.slab {
  font-family: "Alfa Slab One", cursive;
}

.bold {
  font-weight: bold;
}

.alert {
  padding: 5px !important;
}

.form-input {
  background-color: var(--lighter2);
  border: 0;
  box-shadow: inset 1px 2px 3px var(--black), 0px 1px 1px #333;
  color: var(--white);
  font-weight: 400;
  font-size: var(--font-size-base);
}

.form-floating .form-control:focus {
  background-color: var(--lighter2);
  border-color: var(--lighter2);
  color: var(--light-text);
}

.form-floating label {
  color: var(--light-text);
  font-weight: 100;
}

body {
  font-size: var(--font-size-base);
  background-color: var(--background);
  color: var(--white);
  min-height: 100vh;
}

/* FONT WEIGHT */

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-100 {
  font-weight: 100;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.fw-1000 {
  font-weight: 1000;
}

/* general */

p {
  margin: 0;
}

.title-row h2 {
  letter-spacing: 1px;
}

.btn-outline-danger {
  height: fit-content;
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0);
}

.btn-outline-danger:hover {
  color: white;
  background-color: var(--accent);
}

/* navigation  */

.navbar-brand {
  letter-spacing: 2px;
}

.dropdown-menu.show {
  background-color: var(--mid);
}

.dropdown-item {
  color: var(--light-text);
}

.navbar {
  background-color: var(--background) !important;
}

.nav {
  border-color: var(--accent);
}

.nav-link {
  color: var(--light-text);
}

.nav-link,
.nav-link:hover {
  border: none;
}

.nav-link:hover {
  color: var(--accent);
}

.nav .active,
.nav .active:hover {
  background-color: var(--background) !important;
  border: 1px solid var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--accent) !important;
}

.nav .active {
  background-color: var(--accent) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--light-text) !important;
}

.select2-results__option--selectable {
  color: var(--background);
}

.invalid-feedback {
  display: none !important;
}

/* Index.html */
.show,
.show:hover {
  border: none !important;
}

.list-group-item.even {
  background-color: #1d2837 !important;
}

.knocked_out {
  color: hsl(0, 0%, 40%);
}
