{% extends 'draft/layout.html' %}
{% load my_filters %}

{% block title %}
    <h2 class="slab txt-accent pt-3 w-100">MARCH MADNESS</h2>
{% endblock title %}

{% block body %}

<div class="container-fluid index-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Groups</button>
        </li>
        {% for group in groups %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="{{ group.name|replace_spaces_with_hyphens }}-tab" data-bs-toggle="tab" data-bs-target="#{{ group.name|replace_spaces_with_hyphens }}" type="button" role="tab" aria-controls="#{{ group.name|replace_spaces_with_hyphens }}" aria-selected="false">{{ group }}</button>
        </li>
        {% endfor %}
    </ul> 
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container-fluid">
                <div class="row pt-4">
                    {% for person in people|sort_by_total_points %}
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                            <div class="card border-dark bg-med">
                                <div class="card-header ncaa">
                                    <p class=" fw-500 d-flex justify-content-center"> {{ person.name }} </p>
                                </div>
                                <ul class="list-group list-group-flush bg-med">
                                    {% for player in person.players.all %}
                                        <li class="txt-white list-group-item d-flex justify-content-between bg-med {% cycle 'even' 'odd' %}">
                                            <div>
                                                <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/logos/ncaa/{{player.team_id.team_id}}.png" alt=""> 
                                                
                                                <span class="px-3 fw-400">{{ player.name }}</span>
                                            </div>
                                            <span class="fw-400">{{ player.points }}</span>
                                        </li>
                                    {% endfor %}
                                        <li class="   list-group-item d-flex justify-content-between total-row point-total">
                                            <span class="px-2 txt-white fw-500" scope="row">Total Points: </span>
                                            <p class="txt-white fw-500">{{ person.total_points }}</p>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
        </div>
        {% for group in groups %}
            <div class="tab-pane fade" id="{{ group.name|replace_spaces_with_hyphens }}" role="tabpanel" aria-labelledby="{{group}}-tab">
                <div class="container-fluid">
                    <div class="row pt-4">
                    {% if group.peoples.all %}
                        {% for person in group.peoples.all|sort_by_total_points %}
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                            <div class="card border-dark shadow bg-med">
                                <div class="card-header ncaa">
                                    <p class=" fw-700 d-flex justify-content-center"> {{ person.name }} </p>
                                </div>
                                <ul class="list-group list-group-flush bg-med">
                                    {% for player in person.players.all %}
                                        <li class=" txt-white list-group-item d-flex justify-content-between bg-med {% cycle 'even' 'odd' %}">
                                            <div>
                                                <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/static.fantasydata.com/logos/ncaa/{{player.team_id.team_id}}.png" alt=""> 
                                                
                                                <span class="px-3 fw-400">{{ player.name }}</span>
                                            </div>
                                            <span class="fw-400">{{ player.points }}</span>
                                        </li>
                                    {% endfor %}
                                        <li class="   list-group-item d-flex justify-content-between total-row point-total">
                                            <span class="px-2 txt-white fw-500" scope="row">Total Points: </span>
                                            <p class="txt-white fw-500">{{ person.total_points }}</p>
                                        </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                            <p>No people found for this group</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
        
{% endblock body %}
